h5{
    color: aqua;
    align-content: center;
    float: left;
}
table{}
form{

}
.vs{
    background-color: aqua;
    
}
.sharuk{
    background-color: red;
}
.kh{
    background-color: blue;
}
.alia{
    background-color: yellow;
}
.pc{
    background-color: brown;
}